<header class="article-header">
  <h1 class="headline" itemprop="headline">$title$</h1>
  $if(subtitle)$<h2 class="subheadline" itemprop="alternativeHeadline">$subtitle$</h2>$endif$
</header>
<div class="article-info">
$if(date)$<div class="date-published invert-colors" itemprop="datePublished">$date$</div>$endif$
$if(tags)$
Tags: $tags$
$endif$
</div>
<div class="article-body" itemprop="articleBody">

$body$

</div>
<div class="publishing-info">
  <address style="display:none">Written by <span itemprop="author">toastal</span> &amp; published by <span itemprop="publisher" itemscope itemtype="https://schema.org/Organization"><span itemprop="name">toastal</span><img itemprop="logo" itemtype="https://schema.org/ImageObject" src="/images/toastal-black.png" alt="toastal logo" width="101" height="60" loading="lazy" decoding="async" style="dislay:none"></span></address>
</div>
